@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}


body {
  background-color: lightgray;
}


canvas {
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888888;

}

.paper {
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888888;
  margin: 10px;
}

.notebook {
  box-shadow: 10px 10px 5px #888888;
  margin: 10px;
}

body {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#papers {
  margin: 2%;
}

#notebooks {
  margin: 2%;
}


button {
  border: none;
  background: none;
}

.up {
    position: fixed;
    right: 0;
    top: 50%;
    background-color: gray;
    padding: 15px;
    margin: 8px;
    border-radius: 50%;
    font-weight: bold;
}
.down {
    position: fixed;
    left: 0;
    top: 50%;
    background-color: gray;
    padding: 15px;
    margin: 8px;
    border-radius: 50%;
    font-weight: bold;
}
